<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FullStack About</title>
</head>

<body>
    <p>Hello About Us Page FATA</p>
</body>

</html>